@using VAIISemestralkaASPNET.App
@model VAIISemestralkaASPNET.Models.Order

@{
    ViewData["Title"] = "Edit order";
}

<link href="/css/form.css" rel="stylesheet">

<div class="form-container">

    <div class ="d-flex register-form">
        <ul>

            <form asp-action="Edit">
                <ul>
                    <h3>Edit order</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-floating mb-3">
                        <input asp-for="Date" class="form-control" />
                        <label asp-for="Date" class="control-label" required></label>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    @foreach (var state in CONSTANTS.ORDER_STATES())
                    {
                        <div>
                            <label class="control-label">@state</label>
                            <input type="radio" name="State" value="@state" @(Model.State == state ? "checked" : "") />
                        </div>
                    }

                    <hr />


                    <div class="form-floating mb-3">
                        <input type="submit" value="Save" class="w-100 btn btn-lg btn-primary" />
                    </div>
                </ul>
            </form>
            
            @if(Model.ServiceId == null)
            {
                <form asp-controller="Services" asp-action="Create" method="get">
                    <ul>
                        <hr />
                        <h5>Add service</h5>
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Add service</button>
                    </ul>
                </form>
            }
        </ul>
    </div>

   

   
</div>

