
@{
    ViewData["Title"] = "Contacts";
}

<link href="/css/contacts.css" rel="stylesheet">

<script src="/js/contacts.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVD98GQqRlyEu_jKrsplFaMH0aRGxOhF0&callback=initMap" defer></script>


<h1>Contacts</h1>
<div class="box">
    <ul>
        <h3>Phone number: +1 9123 123 123</h3>
        <h3>E-mail: shop@pirservice.com</h3>
    </ul>
</div>
<h1>Our Location</h1>
<div class="map" id="map"></div>