@{
    ViewData["Title"] = "Home Page";
}


<link href=" /css/index.css" rel="stylesheet">

<div id="carouselService" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselService" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselService" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselService" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="res/parts.jpg" class="d-block w-100 navSlider navSlider-shift" alt="...">
        </div>
        <div class="carousel-item">
            <img src="res/service.jpg" class="d-block w-100 navSlider navSlider-shift2" alt="...">
        </div>
        <div class="carousel-item">
            <img src="res/tools.jpg" class="d-block w-100 navSlider navSlider-shift" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselService" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselService" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<H1>Pirates service</H1>
<p>Our car service has long history and many experiences in field of car repair and maintanance</p>
<p>We are using only the best part avanable. Those parts are always checked for defacts and only profesionaly installed</p>

<div class="topPadding5 ">
    <div id="carouselIndicators" class="carousel slide " data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="res/Lights1.png" class="d-block  indicatorsImage " alt="...">
            </div>
            <div class="carousel-item">
                <img src="res/Lights2.png" class="d-block  indicatorsImage" alt="...">
            </div>
            <div class="carousel-item">
                <img src="res/Lights3.png" class="d-block  indicatorsImage " alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<H1 class="MainWhiteText">We can fix everything</H1>
<p class="bottomPadding2">We can fix every light that comes on in your dashboard. Any noise which you can hear. We mean anything that bathers you.</p>
