
@{
    ViewData["Title"] = "Reservations";
}

<H1>Reservations</H1>
<p>For later dates reservations please contact us via e-mail or call us.</p>

<link href="/css/reservation.css" rel="stylesheet">
<link href="/css/calendar.css" rel="stylesheet">

<div class="box">
    <div class="calendar">
        <div class="row">
            <div class="col-md-12">
                <div class="schedule-table">
                    <table class="table bg-white">
                        <thead>
                            <tr>
                                <th></th>
                                <th>8:00 - 10:00</th>
                                <th>10:00 - 12:00</th>
                                <th>12:00 - 14:00</th>
                                <th>14:00 - 16:00 </th>
                                <th class="last">16:00 - 18:00</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="day">21.10.</td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">22.10.</td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">23.10.</td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">24.10.</td>
                                <td class="closed">
                                    <h4 class="closed">Closed</h4>
                                </td>
                                <td class="closed">
                                    <h4 class="closed">Closed</h4>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">25.10.</td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">28.10.</td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="active available">
                                    <h4 class="available">Available</h4>
                                    <div class="hover available">
                                        <h4>Reserve now!</h4>
                                        <button class="reserve-button">Reserve</button>
                                    </div>
                                </td>
                                <td class="closed">
                                    <h4 class="closed">Closed</h4>
                                </td>
                                <td class="closed">
                                    <h4 class="closed">Closed</h4>
                                </td>
                                <td class="closed">
                                    <h4 class="closed">Closed</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">29.10.</td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                                <td class="active full">
                                    <h4 class="full">Full</h4>
                                    <div class="hover full">
                                        <h4>Maybe try later</h4>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

