@model IEnumerable<VAIISemestralkaASPNET.Models.ClosedDate>

@{
    ViewData["Title"] = "ClosedDates";
}

<link href="~/css/form.css" rel="stylesheet" />
<link href="~/css/listCommon.css" rel="stylesheet" />

<h1>ClosedDates</h1>

<div class="d-flex justify-content-center align-items-center">
    <form asp-action="ClosedDatesCreate" method="get">
        <button type="submit" class="btn buttonMargin btn-outline-success">Add date</button>
    </form>
</div>


<div class="container content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Closed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Closed)
                    </td>
                    <td>
                        <form asp-action="ClosedDatesDelete" method="get" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-outline-success buttonMargin">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

