@using VAIISemestralkaASPNET.App
@model VAIISemestralkaASPNET.Models.NonDBDataHolders.ClosedDateForm

@{
    ViewData["Title"] = "Closed Date add";
}

<link href="/css/form.css" rel="stylesheet">


<div class="form-container">
    <form asp-action="ClosedDatesCreate" class="d-flex register-form">
        <hr />
        <ul>
            <h3>Closed Date</h3>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Closed" class="form-control" />
                <label asp-for="Closed" class="control-label" required></label>
                <span asp-validation-for="Closed" class="text-danger"></span>
            </div>

            <div class ="form-floating mb-3">
                <h5>Hours</h5>
            </div>

            <div class="form-floating mb-3">
                @foreach (var time in CONSTANTS.CALENDAR_START_HOURS)
                {
                    <div>
                        <input type="radio" id="hour_@time" name="Hour" value="@time" />
                        <label class="whiteLable" for="hour_@time">@time</label>
                    </div>
                }
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="submit" value="Add new" class="w-100 btn btn-lg btn-primary" />
            </div>
        </ul>
    </form>
</div>


