@model VAIISemestralkaASPNET.Models.NonDBDataHolders.OrderForm

@{
    ViewData["Title"] = "Reservation";
}

<link href="/css/form.css" rel="stylesheet">

<div class="form-container">
    <form asp-action="ReservationCreate" class="d-flex register-form">
        <hr />
        <ul>
            <h4>Reservation - @Model.Date.ToString("dd.MM.yyyy HH:mm")</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input asp-for="Date" class="form-control" />
            </div>
            <div class="form-floating mb-3">
                <select asp-for="CarID" class="form-control" asp-items="ViewBag.CarID" required></select>
                <label asp-for="CarID" class="control-label">Car</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ServiseInfo" class="form-control" required />
                <label asp-for="ServiseInfo" class="control-label"></label>
                <span asp-validation-for="ServiseInfo" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="submit" value="Create" class="w-100 btn btn-lg btn-primary" />
            </div>
        </ul>
    </form>

</div>





