@model VAIISemestralkaASPNET.Models.NonDBDataHolders.OrderForm

@{
    ViewData["Title"] = "ReservationCreate";
}


<h4>Reservation - @Model.Date.ToString("dd.MM.yyyy HH:00")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReservationCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input asp-for="Date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CarID" class="control-label"></label>
                <select asp-for="CarID" class ="form-control" asp-items="ViewBag.CarID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiseInfo" class="control-label"></label>
                <input asp-for="ServiseInfo" class="form-control" />
                <span asp-validation-for="ServiseInfo" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



