@model VAIISemestralkaASPNET.Models.Car

@{
    ViewData["Title"] = "Create";
}

<link href="/css/form.css" rel="stylesheet">

<div class="form-container">
        <form asp-action="Create" class="d-flex register-form">
            <hr />
            <ul>
                <h3>Add car</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="VIN" class="form-control" placeholder="VIN" required />
                    <label asp-for="VIN" class="control-label"></label>
                    <span asp-validation-for="VIN" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="submit" value="Add" class="w-100 btn btn-lg btn-primary" />
                </div>
            </ul>
        </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
