@model VAIISemestralkaASPNET.Models.Car

@{
    ViewData["Title"] = "Edit car";
}

<link href="/css/form.css" rel="stylesheet">

<div class="form-container">
    <form asp-action="Edit" class="d-flex register-form" >
        <hr />
        <ul>
            <h3>@Model.Name</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert" placeholder="Name"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" required />
                <label asp-for="Name" class="control-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="VIN" class="form-control" required placeholder="VIN" />
                <label asp-for="VIN" class="control-label"></label>
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="submit" value="Save" class="w-100 btn btn-lg btn-primary" />
            </div>
        </ul>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
